.container {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  color: #ff6600;
  font-size: 60px;
  font-weight: 600;
  line-height: 48px;
  word-wrap: break-word;
  justify-content: center;
  display: flex;
}

p, h2 {
  font-size: 16px;
  line-height: 1.5;
  color: white; 
}

.img {
  max-width: 100%;
  margin-top: 140px;
  transition: transform 0.3s ease-in-out;
}

.img:hover {
  transform: scale(1.1); 
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%; 
    padding: 30px; 
  }

  .title {
    /* margin-top: 100px; */
  }

  p, h2 {
    font-size: 14px;
  }
}
