.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item1 {

}
.container {
  margin-top: 140px;

}
.img{
  border: 6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #0b090a, #ff6600);
}